@import '../common/utils.scss';

@mixin store() {
    @include columns(auto);
    height: fit-content;
    width: 100%;

    .storeBanner {
        height: 20vh;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .storeProducts {
        @include columns(auto auto auto auto auto);
        gap: 2vh;
        padding: 2vh;

        &>* {
            height: 20vh;
        }
    }

    .storeSearch {
        width: 100%;

        position: sticky;
        height: 20vh;
        bottom: 0;
        right: 0;
        left: 0;

        background-color: magenta;
        border-style: solid;
        border-color: black;
    }
}

@mixin profile() {
    @include columns(auto);
    padding: 15%;

    border-style: solid;
    border-color: magenta;

    &>* {
        width: fit-content;
        height: fit-content;
    }
}

@mixin sellProduct() {
    @include columns(auto auto auto auto auto);
    gap: 2vh;
    padding: 2vh;

    border-style: solid;
    border-color: cyan;

    &>* {
        height: 20vh;

        border-style: solid;
        border-color: blue;
    }
}